on early-boot
    # Assign TCP buffer thresholds to be ceiling value of technology maximums
    # Increased technology maximums should be reflected here.
    write /proc/sys/net/core/rmem_max 2097152
    write /proc/sys/net/core/wmem_max 2097152

on post-fs-data
    rm /data/logcat.txt

    # Create camera directory
    mkdir /data/camera 0770 media system

    # Create power directory
    mkdir /data/power 0771 system system

    # Permission for System LSI NFC
    chmod 0660 /dev/sec-nfc
    chmod nfc nfc /dev/sec-nfc

	# Permissions for audio
    chmod 0660 /dev/i2c-0
    chown audio audio /dev/i2c-0

on fs
	# Permissions for backlight
    chown system system /sys/class/backlight/panel/auto_brightness_level
    chown system media_rw /sys/class/backlight/panel/weakness_hbm_comp

	# Permissions for LCD
    chown system system /sys/class/lcd/panel/ldu_correction
    chown system system /sys/class/lcd/panel/lux
    chown system media_rw /sys/class/lcd/panel/adaptive_control

	# Permissions for Touchkey
    chown system radio /sys/class/sec/sec_touchkey/sar_enable
    chown system radio /sys/class/sec/sec_touchkey/sw_reset
    chown system radio /sys/class/sec/sec_touchkey/touchkey_earjack
	
	# Accelerometer_sensor
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_rev
    chown system radio /sys/class/sensors/accelerometer_sensor/mcu_name

    # Fingerprint_sensor
    chown system radio /sys/class/fingerprint/fingerprint/type_check
    chown system radio /sys/class/fingerprint/fingerprint/name
    chown system radio /sys/class/fingerprint/fingerprint/vendor

on boot
   #Fix battery percent drop after reboot
    chown radio system /efs/Battery/batt_capacity_max
    chmod 0664 /efs/Battery/batt_capacity_max
